*{
    margin: 0;
    padding: 0;
}
body{}
img{
    max-width: 100%;
}
header{
    background-color: #bddef7;
    box-shadow: 0 0 0 #bddef7;
}
nav{}
nav ul{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    /* text-align: center; */
    align-items: center;
}
nav ul li{
    list-style: none;
    /* text-align: center; */
    /* align-items: center; */
}
nav ul li a {
    font-size: 18px;
    color: #040404;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    /* text-align: center; */
    text-transform: capitalize;
}
nav ul li a img{
    width: 80px;
}
section {
    background-repeat: no-repeat;
    padding: 70px;
    background-image: url(../img/logo.png);
    background-size: contain;
    background-position: center;
    background-color: #f5f5f5a6;
    background-blend-mode: saturation;
}
.form-box{
    width: 700px;
    margin: auto;
    text-align: center;
    display: block;
    background-color: #f5f5f5a6;
    background-blend-mode: saturation;
}
h1{
    font-size: 30px;
    color: #0292ff;
    margin-top: 30px;
}
p{
    font-size: 15px;
    font-style: italic;
    font-family: sans-serif;
}
form{
    text-align: left;
    margin-top: 25px;
}



.input3{}
.input4{}


input[type="text"] ,input[type="email"],input[type="password"],input[type="file"]{
        width: 100%;
    padding: 10px 15px;
    border: 1px solid #00b5ff;
    margin-bottom: 8px;
    color: #00b5ff;
     font-size: 15px;}
     input[type="file"]{
        margin-bottom: 0px;
     }
 input[type="submit"]{cursor: pointer;
    display: block;margin-top: 20px;padding: 8px 30px;font-size: 15px;background: #64d7ff;border: 2px solid #64d7ff;}
    
    

    label{
    margin-right: 20px;
    font-style:  italic;
    font-size: 20px;
    color: black;
    font-weight: 500;
}

    b label{
    display: block;
    margin: 15px 0;
    font-size: 18px;
    font-style: normal;
    }
span{        display: block;
    font-size: 15px;
    font-style: italic;
}

input[type="submit"]:hover{
    background: transparent;
}
input:focus{outline: none;}
::placeholder{color: #0292ff;}
::selection{background: #0292ff;}